/* src/styles/colors.css */

/* Primary Colors */
html {
  --primary-color: : #395BD3; /* Blue */ /* Blue */
  --secondary-color: #F6F6FF; /* Green */
  --tertiary-color: #f6f6ff; /* Yellow */

  /* Neutral Colors */
  --black: #000000;
  --white: #ffffff;
  --gray-light: #dcdcdc;
  --gray-dark: #7f8c8d;

  /* Status Colors */
  --status-completed: #0A7900; /* Green */
  --status-incomplete: #FF6B00; /* Red */
  --status-completed-bg:#E1FFDE ; /* Green */
  --status-incomplete-bg: #FFF2DE; /* Red */

  --delete: #FF3093; /* Yellow */
  --dark: #0c1049; /* Dark Blue */
  --required-color:#fe7c98;

  /* Background Colors */
  --background-light: #ecf0ff;
  --background-dark: #2c3e50;

  /* Text Colors */
  --text-primary: #2c3e50; /* Dark Text */
  --text-secondary: #95a5a6; /* Light Text */

  /* Button Colors */
  --button-primary: #3498db;
  --button-secondary: #2ecc71;

  /* Border Colors */
  --border-light: #bdc3c7;
  --border-dark: #34495e;

  --box-shadow:#c1c1c140
  /* Custom Colors */
    --task-item-bg: #fff; /* White */
  --task-item-shadow: #c1c1c140; /* Light gray with alpha transparency */
--cancel-bg:#f2f5ff;
/* Task Description */
  --task-desc-text: #dfe1ff; /* Light Blue */

/* Arrow for Description Box */
  --task-desc-arrow-bg: #0c1049; /* Dark Blue */
  /* src/styles/colors.css */

/* Title Container */


}
