@import "../../../styles/colors.css"; /* Import color variables */
.taskActions {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.iconBtn {
  background-color: var(--secondary-color);
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
