.multiSelectContainer {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input::-webkit-scrollbar {
  display: none;
}

.input {
  scrollbar-width: none;
}

.chipContainer::-webkit-scrollbar {
  width: 8px;
}

.chipContainer::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.chipContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.chipContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

.input:focus {
  border-color: var(--primary-color);
}

.chipContainer {
  position: absolute;
  top: 8px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 70px;
  padding: 4px;
  align-items: center;
  z-index: 2;
}

.deleteIcon {
  background-color: var(--deleteIcon-bg);
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: auto;
  cursor: pointer;
  color: var(--deleteIcon);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteIcon:hover {
  color: var(--deleteIcon-hover);
  background-color: var(--white);
}

.dropdownContainer {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

.dropdownItem {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  overflow-wrap: break-word;
  text-overflow: unset;
  white-space: normal;
  word-break: break-word;
}

.dropdownItem:hover {
  background-color: var(--background-hover-light);
}

.addOptionContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addOptionInput {
  min-width: 50px;
  border: none;
  padding: 8px;
  font-size: 14px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-top: none;
  border-right: none;
}

.iconBtn {
  background-color: var(--deleteIcon-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.selectedDropdownItem {
  background-color: var(--background-selected);
}

.dropdownItem:hover:not(.selectedDropdownItem) {
  background-color: var(--background-dropdown-hover);
}

.selectedDropdownItem:hover {
  background-color: var(--background-selected-hover);
}
.inputContainer {
  position: relative;
  width: 100%;
}

.input:focus {
  border-color: var(--inputs-border-label-color);
}

.label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(77, 77, 77, 0.5);
  transition: all 0.2s ease;
}
.label.floating,
.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: var(--inputs-border-label-color);
  background: white;
  padding: 0 5px;
}
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input:focus {
  border-color: var(--primary-color);
}
.input {
  outline: none;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  cursor: default;
  min-width: 120px;
  flex-grow: 1;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-height: 55px;
  padding: 12px 10px;
  position: relative;
}
.chipContainer {
  position: absolute;
  min-height: 40px;
  top: 8px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  gap: 8px;
  padding: 4px;
  z-index: 1;
  align-items: center;
  max-height: 157px;
  overflow-y: auto;
}

.inputWrapper {
  display: flex;
  flex-wrap: wrap;
}
