@import "../../../styles/colors.css"; /* Import color variables */
.dialogTitle {
  color: var(--drak);
  font-size: 32px;
  font-weight: 700;
}
.dialogTitleWrapper {
  margin-bottom: 30px;
}
.actions {
  display: flex;
  gap: 30px;
}
.actions button {
  height: 45px;
  width: 250px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.cancelBtn {
  background-color: var(--cancel-bg);
  color: var(--primary-color);
}
.submitBtn {
  color: var(--white);
  background-color: var(--primary-color);
}

.formGroup {
  border: 1px solid #ebecfb;
}
.formGroup {
  height: 50px;
}
.formGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form {
  margin: 20px;
}
