.button {
  background-color: var(--primary-color);
  height: 40px;
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: unset;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: var(--primary-color) 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background: linear-gradient(
    90deg,
    var(--add-btn-gradient-start) 0%,
    var(--add-btn-gradient-mid) 22.15%,
    var(--add-btn-gradient-end) 100%
  );
  box-shadow: 0px 8px 16px 0px var(--add-btn-box-shadow-color);
}

.button p {
  color: var(--white);
  font-family: quicksand, serif;
  font-weight: 500;
  font-size: 18px;
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.button:hover p {
  opacity: 0;
  transition: opacity 100ms ease-out;
}

.button svg {
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
  transform: translateX(0) scale(1);
}

.button:hover svg {
  opacity: 1;
  transform: translateX(42px) scale(1.5);
}
