.titleContainer {
  background-color: #fff;
  border-radius: 16px;
  height: 100px;
  grid-column: 2 / 12; /* Spans across all 12 columns */
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  box-shadow: 0px 4px 16px 0px #c1c1c140;
}
.title {
  font-size: 24px;
  font-weight: 600;
  font-family: quickSand;
}
/*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end | itemname; */
